fastapi
uvicorn
python-multipart
numpy
pillow
opencv-python-headless
librosa
soundfile
torch
torchvision
torchaudio

#backend
#python -m pip install -r requirements.txt
#python -m uvicorn main:app --reload

#frontend - npx serve .
